@media (max-width: 992px) {
  main {
    .header {
      #navbarNav {
        position: absolute;
        right: 0;
        text-align: end;
        top: 80px;
      }
      .links-block {
        order: 2;
        position: relative;
      }
      .icons-block {
        order: 1;
      }
    }
  }
  section#second-section {
    .info-block {
      .date {
      }

      .category {
      }
    }

    .delimiter {
    }

    .image-block {
    }

    .first-info-row {
      display: block;
      .delimiter {
      }

      .background-block {
        width: unset;
        height: 350px;
        .text-block {
        }
      }

      .image-block {
      }
    }
    .first-info-row-text {
      display: block;
      .delimiter {
      }

      .background-block {
        width: unset;
        height: 350px;
        .text-block {
          h4 {
          }
        }
      }
    }

    .second-info-row-text {
      display: block;
      .image-block {
        display: none;
      }
      .delimiter {
      }

      .background-block {
        width: unset;
        height: 350px;
        padding: 50px 0;
        .text-block {
          h4 {
          }
        }
      }
    }

    .second-info-row {
      display: block;
      .delimiter {
      }

      .background-block {
        width: unset;
        height: 350px;
        .text-block {
        }
      }

      .image-block {
      }
    }
  }

  section#five-section {
    height: 970px;
  }
}
@media (max-width: 768px) {
  main {
    .main-title-row {
      .main-title {
        font-size: 45px;
        text-align: center;
      }
      .main-subtitle {
        letter-spacing: 4px;
      }
    }
  }
  section#first-section {
    padding: 30px 0;
  }
  section#second-section {
    .first-info-row-text,
    .second-info-row-text {
      .background-block {
        padding: 30px 0;
      }
    }
  }
  section#third-section {
    padding: 30px 0;
  }
  section#fourth-section {
    padding: 30px 0;
  }
  section#five-section {
    padding: 30px 0;
  }
  section#six-section {
    padding: 30px 0;

    .team {
      .team-block {
        .image-block {
          height: 500px;
        }
      }
    }
  }
}
@media (max-width: 576px) {
}
@media (max-width: 450px) {
  section#six-section {
    .team {
      .team-block {
        .image-block {
          height: 350px;
        }
      }
    }
  }
  section#first-section {
    padding: 20px 0;
  }
  section#second-section {
    .first-info-row,
    .second-info-row {
      height: 380px;
      .background-block {
        padding: 20px 0;
        height: 380px;
      }
    }
    .first-info-row-text,
    .second-info-row-text {
      &.second-info-row-text {
        top: 380px;
      }
      height: 380px;
      .background-block {
        .text-block {
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
  section#third-section {
    padding: 20px 0;
  }
  section#fourth-section {
    padding: 20px 0;
  }
  section#five-section {
    padding: 20px 0;
  }
}
