@import "constants";
//basic setting
html {
  font-family: "Myriad Pro", sans-serif;
}

main {
  background-image: url("../images/first-section-background.png");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .main-title-row {
    color: white;
    text-transform: uppercase;
    padding-top: 150px;

    .main-title {
      font-size: 78px;
      text-align: center;
    }

    .main-subtitle {
      color: $main-blue;
      text-align: center;
      letter-spacing: 6px;
    }
  }

  .scroll-row {
    padding: 100px;

    .scroll-down-block {
      margin: auto;
      color: white;
      font-size: 12px;
      width: 65px;

      .scroll-button {
        transition: 0.2s ease-in-out;
        background: none;
        border: 1px solid #dbdbda;
        padding: 12px 20px;
        border-radius: 50%;
        width: 65px;
        height: 65px;

        &:hover {
          background: $main-blue;
          transform: scale(1.1);
          box-shadow: #222222;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.header {
  height: 90px;
  border-bottom: 1px solid #7f7f7f;
  color: white;

  &.navbar {
    display: block;

    a {
      color: white;

      &:hover {
        color: #7f7f7f;
      }
    }
  }

  .navbar-nav {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  .icons {
    display: flex;
    color: white;

    .icon-block {
      margin: 0 9px;

      img {
        height: 20px;
        width: auto;
      }
    }
  }
}

section#first-section {
  padding: 5rem 0;
  height: auto;
  background-color: $main-blue;

  //background-position: center;
  //background-size: cover;
  .main-title-features {
    color: white;
    text-transform: uppercase;

    .title-w {
      position: absolute;
      font-size: 150px;
      opacity: 0.1803921568627451;
      text-align: center;
      font-weight: bold;
    }

    .title-features {
      font-size: 30px;
      text-align: center;
      display: flex;
      height: 15rem;

      div {
        margin: auto;
      }
    }
  }

  .features {
    color: white;
    align-content: center;

    .features-block {
      display: flex;
      flex-direction: column;
      text-align: center;

      .icon-block {
        margin: 20px auto;
        height: 70px;
        width: 70px;
        display: flex;
        background-color: $icons-blue;
        border-radius: 50%;

        img {
          height: 20px;
          margin: auto;
          width: auto;
        }
      }

      h3 {
        font-size: 18px;
        text-align: center;
      }

      p {
        font-size: 15px;
        text-transform: none;
      }
    }
  }
}

section#second-section {
  position: relative;
  .info-block {
    display: flex;

    .date {
      padding-right: 15px;
    }

    .category {
      padding-left: 15px;
    }
  }

  .delimiter {
    margin: auto 0;
    width: 1px;
    height: 16px;
  }

  .image-block {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
  }

  .first-info-row {
    display: flex;
    height: 350px;

    .delimiter {
      border-right: 1px solid white;
    }

    .background-block {
      width: 50%;
      background-color: #222222;

      .text-block {
        color: white;
      }
    }

    .image-block {
      background-image: url("../images/first-news-background.png");
    }
  }
  .first-info-row-text {
    top: 0;
    width: 100%;
    position: absolute;
    display: flex;
    height: 350px;
    .delimiter {
      border-right: 1px solid white;
    }

    .background-block {
      padding: 50px 20px 0 0;
      width: 50%;
      .text-block {
        color: white;
        h4 {
          margin: 10px 0 20px;
          text-transform: uppercase;
        }
      }
    }
  }

  .second-info-row-text {
    top: 350px;
    width: 100%;
    position: absolute;
    display: flex;
    height: 350px;
    .delimiter {
      border-right: 1px solid $text-color;
    }

    .background-block {
      padding: 50px 20px 0 50px;

      right: 50px;
      width: 50%;
      .text-block {
        color: $text-color;
        h4 {
          margin: 10px 0 20px;
          text-transform: uppercase;
        }
      }
    }
  }

  .second-info-row {
    display: flex;
    height: 350px;

    .delimiter {
      border-right: 1px solid $text-color;
    }

    .background-block {
      width: 50%;
      background-color: #f3f3f3;

      .text-block {
        color: $text-color;
      }
    }

    .image-block {
      background-image: url("../images/second-news-background.png");
    }
  }
}
section#third-section {
  padding: 5rem 0;
  height: auto;
  .main-title-blog {
    color: $text-color;
    text-transform: uppercase;
    .title-b {
      position: absolute;
      font-size: 140px;
      opacity: 0.1803921568627451;
      text-align: center;
      font-weight: bold;
    }
    .title-blog {
      font-size: 40px;
      text-align: center;
      display: flex;
      height: 14rem;
      div {
        margin: auto;
      }
    }
    .subtitle-blog {
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .blogs {
    align-content: center;

    .blogs-block {
      display: flex;
      flex-direction: column;
      text-align: center;

      .image-block {
        height: 200px;
        display: flex;
        margin: 20px auto;

        img {
          height: 200px;
          width: auto;
        }
      }

      h3 {
        font-size: 18px;
        text-align: center;
        color: $main-blue;
        margin: 10px 0;
      }

      p {
        font-size: 14px;
        text-transform: none;
      }
    }
  }
}
section#fourth-section {
  background-color: $main-blue;
  padding: 5rem 0;
  .icon-block {
    margin: auto 20px auto 0;
    img {
      height: 50px;
    }
  }
  .text-block {
    margin: auto;
    color: white;
  }
}
section#five-section {
  background-image: url("../images/five-section-background.png");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
  .image-block {
    display: flex;
    img {
      height: 450px;
      margin: auto;
    }
  }
  .text-block {
    color: white;
    h4 {
      margin: 10px 0 20px;
      text-transform: uppercase;
    }
    .advantage-block {
      margin-top: 100px;
      .advantage-item {
        text-transform: uppercase;
        background-color: $main-blue;
        margin: 20px 0;

        &.item-1 {
          width: 80%;
        }
        &.item-2 {
          width: 90%;
        }
        &.item-3 {
          width: 100%;
        }
      }
    }
  }
}

@import "mobile";
